/* ==========
Variables ========== */
:root {
    --black: #121212;
    --blue: #14213d;
    --highlight: hsl(142, 92%, 75%);
    --highlightDark: hsl(142, 55%, 62%);
    --gray: #e5e5e5;
    --white: #fff;

    --heading-font: 'Rubik', sans-serif;
    --body-font: 'Open Sans', sans-serif;
    ;
}


/* ==========
Main Styles ========== */

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    min-height: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--body-font);
    background-color: var(--black);
    color: var(--white);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    margin-top: 0;
}

h1 {
    font-size: clamp(2.9rem, -0.8750rem + 8.3333vw, 4.5rem);
    line-height: clamp(2.8rem, -0.8750rem + 8.3333vw, 4.4rem);
    font-weight: 500;
}

h2 {
    font-size: clamp(3.2rem, -0.8750rem + 8.3333vw, 7.8rem);
    line-height: clamp(3.1rem, -0.8750rem + 8.3333vw, 7.7rem);
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
}

h3 {
    font-size: clamp(1.8rem, -0.8750rem + 8.3333vw, 2.9rem);
    text-transform: uppercase;
    margin-bottom: 0.8rem;
    font-weight: 600;
    color: var(--highlight);
}

h4 {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 0.8rem;
    font-weight: 400;
    color: var(--highlight);
}

a {
    color: var(--hightlight);
    transition: all .2s ease-in-out;
}

button {
    width: 200px;
    height: 40px;
    background: var(--highlight);
    box-shadow: 6px 6px 0 0 var(--highlightDark);
    border: none;
    outline: none;
    position: relative;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}

input[type="submit"] {
    width: 200px;
    height: 40px;
    background: var(--highlight);
    border: none;
    outline: none;
    position: relative;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
    border-radius: 3px;
}

input:focus-visible,
textarea:focus-visible {
    outline-color: var(--highlight);
}


button:active{
    box-shadow: 3px 3px 0 0 var(--highlightDark);
    top: 3px;
    right: -3px;
    background-color: var(--highlightDark);
  }
  
button::before {
    content: '';
    position: absolute;
    background: none;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-left: 6px solid var(--highlightDark);
    border-right-width: 0;
    top: 0;
    right: -6px;
}

button:active::before {
    border: 3px solid transparent;
    border-left: 3px solid var(--highlightDark);
}

button::after {
    content: '';
    position: absolute;
    background: none;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-top: 6px solid var(--highlightDark);
    border-bottom-width: 0;
    bottom: -6px;
    left: 0;
}

button:active::after {
    border: 3px solid transparent;
    border-top: 3px solid var(--highlightDark);
}
  


i.fa-brands {
    font-family: 'Font Awesome\ 6 Brands';
    font-style: normal;
}

.container {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

header {
    background-color: var(--black);
    color: var(--white);
    height: 100px;
    padding: 20px;
}

header .flex {
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#mainLogo {
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: 1.4rem;
}

#mainLogo a {
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    display: inline-flex;
    align-items: center;
    gap: 30px;
    padding: 0;
}

nav ul li {
    position: relative;
    display: flex;
    justify-content: center;
    top: 0;
}

nav a {
    font-size: .9rem;
    text-decoration: none;
    color: var(--white);
    transition: all .2s ease-in-out;
    display: block;
    position: relative;
    z-index: 2;
}

nav a:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--highlight);
    transition: width .3s;
    margin: 6px auto 0;
}

nav a:hover::after {
    width: 100%;
}

nav a.icon {
    font-size: 1.4rem;
    color: var(--highlight);
}

nav a.icon::after {
    background-color: transparent;
}

nav a.icon:hover {
    color: var(--white)
}

nav a.icon:hover {
    color: var(--white)
}

#hamburger {
    display: none;
    font-size: 1.8rem;
    color: var(--highlight);
    cursor: pointer;
}


span.link-tip {
    position: absolute;
    bottom: 0;
    rotate: 90deg;
    z-index: 1;
    text-transform: uppercase;
    font-weight: 600;
    font-family: var(--heading-font);
    letter-spacing: 2px;
    transition: all .3s ease-in-out;
    color: var(--black);
}

nav li:hover > span.link-tip {
    position: absolute;
    bottom: -55px;
    color: var(--highlight);
}

nav li.linkedin:hover > span.link-tip {
    bottom: -60px;
}

#cta {
    background-color: var(--black);
    color: var(--white);
    min-height: 300px;
    height: 70vh;
    display: flex;
    padding: 0 20px;
    gap: 20px;
}

.cta-left {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
}

.sub-heading {
    color: var(--highlight);
    font-size: .9rem;
    letter-spacing: 1px;;
    margin-bottom: 10px;
    display: block;
    text-transform: uppercase;
}

.cta-left h1 {
    margin-bottom: 20px;
}

.cta-left p {
    font-size: clamp(1rem, -0.8750rem + 8.3333vw, 1.4rem);
    font-weight: 300;
    margin-bottom: 40px;
}

.cta-left button {
    transition: none;
}

.cta-right {
    width: 60%;
    display: flex;
    align-items: end;
}


.cta-right .portrait {
    width: 100%;
}

#tools {
    background-color: #282828;
    padding: 20px;
}

#tools .flex {
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.tool-logo {
    font-size: 2.8rem;
    color: var(--white);
}

#scrollIcon {
    text-align: center;
    padding: 50px 20px;
}

#scrollIcon img {
    width: 40px;
}

#projects {
    text-align: center;
    padding: 20px;
    position: relative;
    overflow: hidden;
    margin-bottom: 100px;
}

#projects h2 {
    margin-bottom: 100px;
}

#projects button {
    font-size: .8rem;
    margin: 20px 0;
    background-color: transparent;
    color: var(--white);
    border: 1px solid var(--highlight);
}

#projects button:hover {
    background-color: var(--highlight);
    color: var(--black);
}

.projects-tease {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.project-1-img,
.project-2-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    position: relative;
}

.project-1-img::after,
.project-2-img::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    left: 0;
    top: 0;
    opacity: .6;
    border-radius: 8px;
}

.project-1-tag,
.project-2-tag {
    text-align: left;
    padding: 20px;
    font-weight: 300;
}
    
.project-1-img {
    grid-area: 1 / 2 / 3 / 5;
    background-image: url('../img/temp-img.webp');
}
.project-1-tag {
    grid-area: 3 / 2 / 5 / 4;
}
.project-2-img {
    grid-area: 2 / 4 / 4 / 7;
    background-image: url('../img/temp-img-2.webp');
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.project-2-tag {
    grid-area: 4 / 4 / 6 / 7;
}

.tool-logos {
    font-size: 2rem;
    color: var(--white);
}

.tool-logos i {
    margin-right: 10px;
}


#contact h1 {
    width: 100%;
    text-align: center;
    margin: 100px 0;
}

#contact h3 {
    padding-bottom: 10px;
    border-bottom: 4px solid var(--highlightDark);
    margin-bottom: 2.4rem;
    width: fit-content;
}

#contact h4 {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0;
    text-transform: unset;
}

#contact .title {
    font-size: .8rem;
    text-transform: uppercase;
}

.contact-wrap {
    padding: 50px 0;
    color: var(--white);
    margin: 100px 0;
    position: relative;
}

.contact-wrap .container {
    position: relative;
}

.contact-left  {
    width: 50%;
    padding: 20px;
}

ul.contact-info{
    list-style-type: none;
    padding: 0 20px;
}

ul.contact-info li {
    font-size: 1.2rem;
    padding: 20px 0;
    border-bottom: 1px solid var(--highlightDark);
    font-weight: 400;
}

ul.contact-info li:last-child {
    border-bottom: none;
}

ul.contact-info li i {
    margin-right: 20px;
    color: var(--highlightDark);
    font-size: 1.4rem;
}

.contact-right {
    width: 50%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 5px;
}

.contact-right form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-right label {
    display: block;
    font-size: .7rem;
    font-weight: 600;
    margin-bottom: 6px;
    color: var(--black);
}

.contact-right input {
    width: 100%;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid var(--gray);
    border-left: none;
    padding: 8px;
}

.contact-right textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 250px;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid var(--gray);
    border-left: none;
}

.contact-right input[type="submit"] {
    width: 200px;
    margin-left: auto;
    cursor: pointer;
    border: none;
}

#backToTop {
    position: fixed;
    right: 20px;
    bottom: 10%;
    rotate: -90deg;
    transition: all .3s ease-in-out;
    text-decoration: none;
    background-color: var(--highlight);
    color: var(--black);
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 500;
    padding: 6px 20px;
    border-radius: 4px 8px;
    border: 2px solid var(--highlight);
    cursor: pointer;
}

#backToTop:hover{
    rotate: 360deg;
}


#backToTop:hover{
    background-color: transparent;
    color: var(--white);
    padding: 20px 40px;
    border-radius: 0 7px;
}

footer {
    width: 100%;
    text-align: center;
    padding: 30px 20px;
    font-size: .9rem;
}

footer a {
    color: var(--highlight);
}

footer a:hover {
    color: var(--white);
}

/* ==========
Mobile Styles ========== */

@media only screen and (max-width: 769px) {

    /* ==========
    Mobile Nav ========== */



    nav {
        position: absolute;
        left: -1200px;
        top: 80px;
        flex-direction: column;
        width: 100%;
        background-color: var(--black);
        z-index: 3;
        transition: all .3s ease-in-out;
        padding: 40px;
    }

    nav.active {
        left: 0;
        top: 80px;
        background-color: var(--black);
    }

    nav ul {
        width: 100%;
        flex-direction: column;
        list-style-type: none;
        display: inline-flex;
        align-items: center;
        gap: 20px;
        padding: 0;
    }

    nav a {
        font-size: 1.8rem;
        font-weight: 600;
        text-transform: uppercase;
    }

    #hamburger {
        display: block;
    }

    #backToTop {
        display: none;
    }

    #cta {
        margin-bottom: 75px;
    }

    .cta-left,
    .cta-right {
        width: 100%;
    }

    .cta-left {
        padding: 40px 0px;
        text-align: center;
    }

    .cta-left button {
        margin: 0 auto;
    }

    .cta-right {
        display: none;
    }

    #projects h2 {
        width: 100%;
        text-align: center;
    }

    #project1,
    #project2 {
        display: block;
    }

    .projects-tease {
        display: block;
    }
    
    .project-1-img {
        height: 350px;
    }
    .project-2-img {
        height: 350px;
    }

    .project-1-tag, .project-2-tag {
        text-align: center;
    }

    .contact-wrap {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .contact-left,
    .contact-right  {
        width: 100%;
    }

    .contact-right {
        position: relative;
        top: unset;
        padding: 40px 20px;
        box-shadow: none;
        border-radius: 0px;
    }

    .contact-right input[type="submit"] {
       margin: 0 auto;
    }
    
}